/src/
/test/
/coverage/
/.nyc_output/
/.github/
/third-party-wrappers/

.babelrc
.commitlintrc.js
.editorconfig
.eslintcache
.eslintignore
.eslintrc.yml
.gitattributes
.huskyrc.json
.markdownlintrc
.nvmrc
.nycrc
.travis.yml
coverage.lcov
rollup.config.js
